target/*
.settings/*
project/project/*
build/*
hs_errors/*
project/target/*
src/main/scala/pl/soi/sep/common
logs/*
.project
.classpath
.cache
*.sql
*.log
.pid
.gitmodules
test.conf
.idea
.idea_modules